<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.travel.mapper.UserMapper">

    <!-- 根据用户ID查询用户 -->
    <select id="selectById" resultType="org.example.travel.model.entity.User">
        SELECT * FROM user WHERE user_id = #{userId}
    </select>

    <!-- 根据手机号查询用户 -->
    <select id="selectByPhone" resultType="org.example.travel.model.entity.User">
        SELECT * FROM user WHERE phone = #{phone}
    </select>

    <!-- 插入用户 -->
    <insert id="insert" parameterType="org.example.travel.model.entity.User">
        INSERT INTO user (user_id, nickname, avatar_url, phone, password, signature, create_time)
        VALUES (#{userId}, #{nickname}, #{avatarUrl}, #{phone}, #{password}, #{signature}, #{createTime})
    </insert>

    <!-- 更新用户 -->
    <update id="update" parameterType="org.example.travel.model.entity.User">
        UPDATE user
        SET nickname = #{nickname},
            avatar_url = #{avatarUrl},
            phone = #{phone},
            password = #{password},
            signature = #{signature}
        WHERE user_id = #{userId}
    </update>

    <!-- 根据用户ID删除用户 -->
    <delete id="deleteById">
        DELETE FROM user WHERE user_id = #{userId}
    </delete>

</mapper>